<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Company Name</title>
    <meta name="author" content="Company Name">
    <meta name="description" content="Company Name">
    <meta name="keywords"
        content="Company Name">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700%7CRoboto:300,400,500,700" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fakeLoader.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/fontawesome-stars-o.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="css/responsive-style.css" rel="stylesheet">
    <link href="css/colors/color-1.css" rel="stylesheet" id="changeColorScheme">
    <link href="css/custom.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="header--section">
            <div class="header--topbar">
                <div class="container">
                    <ul class="nav social float--left">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                    <ul class="nav cart float--right">
                        <li><a href="cart.html"><i class="fa fm fa-shopping-basket"></i>(<span>3</span>)</a></li>
                    </ul>
                    <ul class="nav register float--right">
                        <li> <a href="#"><i class="fa fm fa-key"></i>Signup</a></li>
                    </ul>
                </div>
            </div>
            <nav class="header--navbar navbar" data-trigger="sticky">
                <div class="container">
                    <div class="navbar-header">
                        <div class="header--btn float--right hidden-md hidden-lg hidden-xxs"> <a
                                href="free-analysis.html" class="btn btn-default">Login</a> </div><button
                            type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#headerNav" aria-expanded="false" aria-controls="headerNav"> <span
                                class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span> <span
                                class="icon-bar"></span> <span class="icon-bar"></span> </button> <a href="index.html"
                            class="navbar-brand"> <img src="img/logo.png" alt="SEOCrack Logo"> </a>
                    </div>
                    <div class="header--btn float--right hidden-sm hidden-xs"> <a href="free-analysis.html"
                            class="btn btn-default">Login</a> </div>
                    <div id="headerNav" class="navbar-collapse collapse float--right">
                        <ul class="header--nav-links nav navbar-right">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="seo.html">Free SEO Tools</a></li>
                            <li><a href="learn.html">Learn SEO</a></li>
                            <li  class="active"><a href="blog.html">Blog</a></li>
                            <li><a href="about.html">Why Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="page-header--section bg--color-theme pd--80-0">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><span>Blog</span></li>
                </ul>
                <div class="title">
                    <h1 class="h1">Blog</h1>
                </div>
            </div>
        </div>
        <div class="blog--section pd--100-0-40">
            <div class="container">
                <div class="row">
                    <div class="blog--content col-md-8 pbottom--60 float--right float--sm-none">
                        <div class="row MasonryRow">
                            <div class="col-xs-6 col-xxs-12">
                                <div class="post--item">
                                    <div class="img"> <img src="img/blog-img/post-item-01.jpg" alt=""> </div>
                                    <div class="title">
                                        <h2 class="h4"><a href="blog-details.html">Manage and Track Campaigns</a></h2>
                                    </div>
                                    <div class="meta">
                                        <p>Posted on <a href="#">September 10, 2017</a> by <a href="#">admin</a>, <a
                                                href="#">02 Comments</a></p>
                                    </div>
                                    <div class="content">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised words.</p>
                                    </div>
                                    <div class="action"> <a href="blog-details.html" class="active">Continue
                                            Reading...</a> </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-xxs-12">
                                <div class="post--item">
                                    <div class="img"> <img src="img/blog-img/post-item-02.jpg" alt=""> </div>
                                    <div class="title">
                                        <h2 class="h4"><a href="blog-details.html">Ask Yoast Case Study: SEO of a Dog
                                                Blog</a></h2>
                                    </div>
                                    <div class="meta">
                                        <p>Posted on <a href="#">September 10, 2017</a> by <a href="#">admin</a>, <a
                                                href="#">02 Comments</a></p>
                                    </div>
                                    <div class="content">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised words It uses a dictionary of over 200 Latin words, combined with
                                            a handful of model sentence structures.</p>
                                    </div>
                                    <div class="action"> <a href="blog-details.html" class="active">Continue
                                            Reading...</a> </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-xxs-12">
                                <div class="post--item">
                                    <div class="video"> <iframe
                                            src="https://www.youtube.com/embed/2GqExKSwTEA?showinfo=0&amp;controls=0&amp;rel=0&amp;wmode=transparent"></iframe>
                                    </div>
                                    <div class="title">
                                        <h2 class="h4"><a href="blog-details.html">Attract New Customers Video Post</a>
                                        </h2>
                                    </div>
                                    <div class="meta">
                                        <p>Posted on <a href="#">September 10, 2017</a> by <a href="#">admin</a>, <a
                                                href="#">02 Comments</a></p>
                                    </div>
                                    <div class="content">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised words.</p>
                                    </div>
                                    <div class="action"> <a href="blog-details.html" class="active">Continue
                                            Reading...</a> </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-xxs-12">
                                <div class="post--item">
                                    <div class="title">
                                        <h2 class="h4"><a href="blog-details.html">Increase Social Media Engagement,
                                                Page Speed as a Ranking Factor: What You Need to Know, Too Many Links in
                                                Navigation Menu?</a></h2>
                                    </div>
                                    <div class="meta">
                                        <p>Posted on <a href="#">September 10, 2017</a> by <a href="#">admin</a>, <a
                                                href="#">02 Comments</a></p>
                                    </div>
                                    <div class="content">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised words.</p>
                                    </div>
                                    <div class="action"> <a href="blog-details.html" class="active">Continue
                                            Reading...</a> </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-xxs-12">
                                <div class="post--item">
                                    <div class="img"> <img src="img/blog-img/post-item-03.jpg" alt=""> </div>
                                    <div class="title">
                                        <h2 class="h4"><a href="blog-details.html">How To Increase Baby’s Memory?</a>
                                        </h2>
                                    </div>
                                    <div class="meta">
                                        <p>Posted on <a href="#">September 10, 2017</a> by <a href="#">admin</a>, <a
                                                href="#">02 Comments</a></p>
                                    </div>
                                    <div class="content">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised words.</p>
                                    </div>
                                    <div class="action"> <a href="blog-details.html" class="active">Continue
                                            Reading...</a> </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-xxs-12">
                                <div class="post--item">
                                    <div class="img"> <img src="img/blog-img/post-item-04.jpg" alt=""> </div>
                                    <div class="title">
                                        <h2 class="h4"><a href="blog-details.html">Impact of Host Location on SEO?</a>
                                        </h2>
                                    </div>
                                    <div class="meta">
                                        <p>Posted on <a href="#">September 10, 2017</a> by <a href="#">admin</a>, <a
                                                href="#">02 Comments</a></p>
                                    </div>
                                    <div class="content">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised words.</p>
                                    </div>
                                    <div class="action"> <a href="blog-details.html" class="active">Continue
                                            Reading...</a> </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-xxs-12">
                                <div class="post--item">
                                    <div class="img"> <img src="img/blog-img/post-item-05.jpg" alt=""> </div>
                                    <div class="title">
                                        <h2 class="h4"><a href="blog-details.html">Establish Your Business as an
                                                Authority?</a></h2>
                                    </div>
                                    <div class="meta">
                                        <p>Posted on <a href="#">September 10, 2017</a> by <a href="#">admin</a>, <a
                                                href="#">02 Comments</a></p>
                                    </div>
                                    <div class="content">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised words randomised words which don't look even slightly believable.
                                            If you are going to use a passage of Lorem Ipsum, you need to be sure there
                                            isn't anything embarrassing hidden in the.</p>
                                    </div>
                                    <div class="action"> <a href="blog-details.html" class="active">Continue
                                            Reading...</a> </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-xxs-12">
                                <div class="post--item">
                                    <div class="img"> <img src="img/blog-img/post-item-06.jpg" alt=""> </div>
                                    <div class="title">
                                        <h2 class="h4"><a href="blog-details.html">Contributing to WordPress as a
                                                Designer</a></h2>
                                    </div>
                                    <div class="meta">
                                        <p>Posted on <a href="#">September 10, 2017</a> by <a href="#">admin</a>, <a
                                                href="#">02 Comments</a></p>
                                    </div>
                                    <div class="content">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised words.</p>
                                    </div>
                                    <div class="action"> <a href="blog-details.html" class="active">Continue
                                            Reading...</a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination--wrapper">
                            <ul class="pagination">
                                <li class="disabled"> <a href="#" class="prev"><i
                                            class="fa fa-angle-double-left"></i></a> </li>
                                <li class="active"><a href="#">01</a></li>
                                <li><a href="#">02</a></li>
                                <li><a href="#">03</a></li>
                                <li><a href="#">04</a></li>
                                <li><a href="#">05</a></li>
                                <li> <a href="#" class="next"><i class="fa fa-angle-double-right"></i></a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog--sidebar sidebar--widgets col-md-4 pbottom--60">
                        <div class="widget">
                            <div class="search--widget">
                                <form action="#" method="get" data-form="validate">
                                    <div class="input-group"> <input type="text" name="search" placeholder="Search..."
                                            class="form-control" required>
                                        <div class="input-group-btn"> <button type="submit"><i
                                                    class="fa fa-search"></i></button> </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="widget--title">
                                <h2 class="h4">Catagory</h2>
                            </div>
                            <div class="links--widget">
                                <ul class="nav">
                                    <li><a href="#">Strategy and Consulting<span>(15)</span></a></li>
                                    <li><a href="#">Social Media Management<span>(52)</span></a></li>
                                    <li><a href="#">Social Media Campaign<span>(03)</span></a></li>
                                    <li><a href="#">Social Media Advertising<span>(12)</span></a></li>
                                    <li><a href="#">Pay-Per Click<span>(37)</span></a></li>
                                    <li><a href="#">Branding &amp; Design<span>(08)</span></a></li>
                                    <li><a href="#">Event Management<span>(16)</span></a></li>
                                    <li><a href="#">Web Design &amp; Development<span>(41)</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="widget--title">
                                <h2 class="h4">Recent Post/Latest Blog</h2>
                            </div>
                            <div class="recent-posts--widget">
                                <ul class="nav">
                                    <li>
                                        <div class="cat"> <a href="#">Uncategorized</a> </div>
                                        <div class="title"> <a href="blog-details.html">There are many variations of
                                                passages of Lorem Ipsum available, but the major.</a> </div>
                                        <div class="date"> <a href="#">09 April 2017</a> </div>
                                    </li>
                                    <li>
                                        <div class="cat"> <a href="#">Uncategorized</a> </div>
                                        <div class="title"> <a href="blog-details.html">There are many variations of
                                                passages of Lorem Ipsum available, but the major.</a> </div>
                                        <div class="date"> <a href="#">20 March 2017</a> </div>
                                    </li>
                                    <li>
                                        <div class="cat"> <a href="#">Uncategorized</a> </div>
                                        <div class="title"> <a href="blog-details.html">There are many variations of
                                                passages of Lorem Ipsum available, but the major.</a> </div>
                                        <div class="date"> <a href="#">18 March 2017</a> </div>
                                    </li>
                                    <li>
                                        <div class="cat"> <a href="#">Uncategorized</a> </div>
                                        <div class="title"> <a href="blog-details.html">There are many variations of
                                                passages of Lorem Ipsum available, but the major.</a> </div>
                                        <div class="date"> <a href="#">12 March 2017</a> </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="widget--title">
                                <h2 class="h4">Tags</h2>
                            </div>
                            <ul class="tags--widget">
                                <li><a href="#">SEO</a></li>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Branding</a></li>
                                <li><a href="#">Management</a></li>
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Envato</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <div class="widget--title">
                                <h2 class="h4">Follow Us</h2>
                            </div>
                            <ul class="social--widget">
                                <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i>Linkedin</a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i>Google Plus</a></li>
                                <li><a href="#"><i class="fa fa-rss"></i>Follow</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <div class="widget--title">
                                <h2 class="h4">Advertisement</h2>
                            </div>
                            <div class="ad--widget"> <img src="img/blog-img/sidebar-ad.jpg" alt="" class="center-block">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer--section">
            <div class="footer--widgets">
                <div class="container">
                    <div class="row AdjustRow">
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--logo"> <img src="img/footer-img/logo.png" alt=""> </div>
                                <div class="about--widget">
                                    <div class="content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    </div>
                                    <div class="action"> <a href="#">Read More<i
                                                class="fa fa-angle-double-right"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Usefull Links</h2>
                                </div>
                                <div class="links--widget">
                                    <ul class="nav">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="blog.html">Blogs &amp; Reviews</a></li>
                                        <li><a href="term.html">Term & Condition</a></li>
                                        <li><a href="Privacy">Privacy Policy</a></li>
                                        <li><a href="Support">Support Forum</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Recent Blog or Latest News</h2>
                                </div>
                                <div class="recent-posts--widget">
                                    <ul class="nav">
                                        <li>
                                            <div class="title"> <a href="blog-details.html">There are many variations of
                                                    passages of Lorem Ipsum available, but the major.</a> </div>
                                            <div class="date"> <a href="#" class="active">19 January 2017</a> </div>
                                        </li>
                                        <li>
                                            <div class="title"> <a href="blog-details.html">There are many variations of
                                                    passages of Lorem Ipsum available, but the major.</a> </div>
                                            <div class="date"> <a href="#" class="active">10 January 2017</a> </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Contact Information</h2>
                                </div>
                                <div class="contact--widget">
                                    <div class="content">
                                        <p>You can contact or visit us during working time, our contact info is below
                                        </p>
                                    </div>
                                    <ul class="info nav">
                                        <li><span>Tel :</span><a href="tel:+01234567894321">+0123 456 789 4321</a></li>
                                        <li><span>E-mail :</span><a
                                                href="mailto:example@example.com">example@example.com</a></li>
                                        <li><span>Address :</span>148 - Mirpur, Dhaka, Bangladesh</li>
                                        <li><span>Working Hour :</span>Mon - Sat 09 am - 10 pm</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer--copyright">
                <div class="container">
                    <p class="float--left">Copyright &copy; by <a href="#">Company</a> 2024. All Rights Reserved.</p>
                    <ul class="social nav float--right">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="back-to-top-btn"> <a href="#" class="active"><i class="fa fa-chevron-up"></i></a> </div>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/fakeLoader.min.js"></script>
    <script src="js/jquery.sticky.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.barrating.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>