<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Company Name</title>
    <meta name="author" content="Company Name">
    <meta name="description" content="Company Name">
    <meta name="keywords"
        content="Company Name">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700%7CRoboto:300,400,500,700" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fakeLoader.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/fontawesome-stars-o.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="css/responsive-style.css" rel="stylesheet">
    <link href="css/colors/color-1.css" rel="stylesheet" id="changeColorScheme">
    <link href="css/custom.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="header--section">
            <div class="header--topbar">
                <div class="container">
                    <ul class="nav social float--left">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                    <ul class="nav cart float--right">
                        <li><a href="cart.html"><i class="fa fm fa-shopping-basket"></i>(<span>3</span>)</a></li>
                    </ul>
                    <ul class="nav register float--right">
                        <li> <a href="#"><i class="fa fm fa-key"></i>Signup</a></li>
                    </ul>
                </div>
            </div>
            <nav class="header--navbar navbar" data-trigger="sticky">
                <div class="container">
                    <div class="navbar-header">
                        <div class="header--btn float--right hidden-md hidden-lg hidden-xxs"> <a
                                href="free-analysis.html" class="btn btn-default">Login</a> </div><button
                            type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#headerNav" aria-expanded="false" aria-controls="headerNav"> <span
                                class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span> <span
                                class="icon-bar"></span> <span class="icon-bar"></span> </button> <a href="index.html"
                            class="navbar-brand"> <img src="img/logo.png" alt="SEOCrack Logo"> </a>
                    </div>
                    <div class="header--btn float--right hidden-sm hidden-xs"> <a href="free-analysis.html"
                            class="btn btn-default">Login</a> </div>
                    <div id="headerNav" class="navbar-collapse collapse float--right">
                        <ul class="header--nav-links nav navbar-right">
                            <li><a href="index-2.html">Home</a></li>
                            <li><a href="seo.html">Free SEO Tools</a></li>
                            <li><a href="learn.html">Learn SEO</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="about.html">Why Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="page-header--section bg--color-theme pd--80-0">
            <div class="container">
             
                <div class="title">
                    <h1 class="h1">Free Domain Authority Checker</h1>
                    <h3>Enter any domain, and we’ll show you the Domain Authority,
                        Page Authority, ranking keywords, and more.</h3>
                    <p>Limit 3 reports/day (unlimited for crawic Pro customers)</p>
                </div>
               
            </div>
        </div>
        <div class="checker--section">
            <div class="container">
                <div class="checker--form">
                    <div class="title">
                        <h2 class="h2">Check Your Website SEO Score !</h2>
                    </div>
                    <form action="#" method="post" data-form="validate">
                        <div class="row">
                          
                            <div class="col-md-12">
                                <div class="input-group"> <input type="email" name="email" class="form-control"
                                        placeholder="Enter Your domain" required>
                                    <div class="input-group-btn"> <button type="submit" class="btn btn-default">Check
                                            Now</button> </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container pd--80-0">
            <h3 class="text-center">Access the world’s most reputable domain data</h3>
            <p class="text-center"> <br>Check the up-to-date Domain Authority of a competitor, partner, or opportunity directly from the original source – crawic's own index.
                
                <br> <br>Domain Authority and its page-level equivalent Page Authority – DA and PA – are two of the best-known and most respected metrics in the SEO industry, widely used to rate a domain or page's rankability.
                <br> <br> The Domain Authority (DA) metric is built on crawic's industry-leading web index trusted by SEO professionals worldwide. For a more in depth domain analysis, try crawic Pro to track thousands of websites and pages, target the right keywords, and create custom reports all in one place.</p>
        </div>
        <div class="services--section pd--100-0-40">
            <div class="container">
                <h3 class="text-center pd--80-0">Free SEO analysis. World-class data.</h3>
                <div class="row AdjustRow">
                    <div class="col-md-3 col-xs-6 col-xxs-12">
                        <div class="service--item">
                            <div class="header">
                                <div class="icon"> <img src="img/services-img/icon-01.png" alt=""> </div>
                                <div class="title">
                                    <h2 class="h4"><a>Top Pages by Links</a></h2>
                                </div>
                            </div>
                            <div class="body">
                                <p>Whether you're tracking a thousand keywords or a million, STAT hunts out relevant SERPs across the globe.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-xxs-12">
                        <div class="service--item">
                            <div class="header">
                                <div class="icon"> <img src="img/services-img/icon-02.png" alt=""> </div>
                                <div class="title">
                                    <h2 class="h4"><a>Top Linking Domains</a></h2>
                                </div>
                            </div>
                            <div class="body">
                                <p>Track infinite sites, automate your insights, and customize alerts to ensure that when it comes to the competition, nothing gets by you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-xxs-12">
                        <div class="service--item">
                            <div class="header">
                                <div class="icon"> <img src="img/services-img/icon-03.png" alt=""> </div>
                                <div class="title">
                                    <h2 class="h4"><a>Discovered and Lost Links</a></h2>
                                </div>
                            </div>
                            <div class="body">
                                <p>We're built to track big data at competitive rates. Tracking starts at $720/month for 6,000 keywords.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-xxs-12">
                        <div class="service--item">
                            <div class="header">
                                <div class="icon"> <img src="img/services-img/icon-04.png" alt=""> </div>
                                <div class="title">
                                    <h2 class="h4"><a>Keywords by Estimated Clicks</a></h2>
                                </div>
                            </div>
                            <div class="body">
                                <p>Search is on the move. Your tracking should be too. Uncover pinpoint-local and mobile SERPs, everywhere your customers are searching.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="subscribe--section pd--100-0">
            <div class="container">
                <div class="section--title">
                    <h2 class="h2">Check Domain Authority, Page Authority, and more.</h2>
                </div>
                <div class="subscribe--form">
                  
                    <form>
                        <p class="status"></p><button type="submit" class="btn btn-default">Check Authority</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer--section">
            <div class="footer--widgets">
                <div class="container">
                    <div class="row AdjustRow">
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--logo"> <img src="img/footer-img/logo.png" alt=""> </div>
                                <div class="about--widget">
                                    <div class="content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    </div>
                                    <div class="action"> <a href="#">Read More<i
                                                class="fa fa-angle-double-right"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Usefull Links</h2>
                                </div>
                                <div class="links--widget">
                                    <ul class="nav">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="blog.html">Blogs &amp; Reviews</a></li>
                                        <li><a href="term.html">Term & Condition</a></li>
                                        <li><a href="Privacy">Privacy Policy</a></li>
                                        <li><a href="Support">Support Forum</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Recent Blog or Latest News</h2>
                                </div>
                                <div class="recent-posts--widget">
                                    <ul class="nav">
                                        <li>
                                            <div class="title"> <a href="blog-details.html">There are many variations of
                                                    passages of Lorem Ipsum available, but the major.</a> </div>
                                            <div class="date"> <a href="#" class="active">19 January 2017</a> </div>
                                        </li>
                                        <li>
                                            <div class="title"> <a href="blog-details.html">There are many variations of
                                                    passages of Lorem Ipsum available, but the major.</a> </div>
                                            <div class="date"> <a href="#" class="active">10 January 2017</a> </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Contact Information</h2>
                                </div>
                                <div class="contact--widget">
                                    <div class="content">
                                        <p>You can contact or visit us during working time, our contact info is below
                                        </p>
                                    </div>
                                    <ul class="info nav">
                                        <li><span>Tel :</span><a href="tel:+01234567894321">+0123 456 789 4321</a></li>
                                        <li><span>E-mail :</span><a
                                                href="mailto:example@example.com">example@example.com</a></li>
                                        <li><span>Address :</span>148 - Mirpur, Dhaka, Bangladesh</li>
                                        <li><span>Working Hour :</span>Mon - Sat 09 am - 10 pm</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer--copyright">
                <div class="container">
                    <p class="float--left">Copyright &copy; by <a href="#">Company</a> 2024. All Rights Reserved.</p>
                    <ul class="social nav float--right">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="back-to-top-btn"> <a href="#" class="active"><i class="fa fa-chevron-up"></i></a> </div>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/fakeLoader.min.js"></script>
    <script src="js/jquery.sticky.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.barrating.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>