<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Company Name</title>
    <meta name="author" content="Company Name">
    <meta name="description" content="Company Name">
    <meta name="keywords"
        content="Company Name">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700%7CRoboto:300,400,500,700" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fakeLoader.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/fontawesome-stars-o.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="css/responsive-style.css" rel="stylesheet">
    <link href="css/colors/color-1.css" rel="stylesheet" id="changeColorScheme">
    <link href="css/custom.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="header--section">
            <div class="header--topbar">
                <div class="container">
                    <ul class="nav social float--left">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                    <ul class="nav cart float--right">
                        <li><a href="cart.html"><i class="fa fm fa-shopping-basket"></i>(<span>3</span>)</a></li>
                    </ul>
                    <ul class="nav register float--right">
                        <li> <a href="#"><i class="fa fm fa-key"></i>Signup</a></li>
                    </ul>
                </div>
            </div>
            <nav class="header--navbar navbar" data-trigger="sticky">
                <div class="container">
                    <div class="navbar-header">
                        <div class="header--btn float--right hidden-md hidden-lg hidden-xxs"> <a
                                href="free-analysis.html" class="btn btn-default">Login</a> </div><button
                            type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#headerNav" aria-expanded="false" aria-controls="headerNav"> <span
                                class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span> <span
                                class="icon-bar"></span> <span class="icon-bar"></span> </button> <a href="index.html"
                            class="navbar-brand"> <img src="img/logo.png" alt="SEOCrack Logo"> </a>
                    </div>
                    <div class="header--btn float--right hidden-sm hidden-xs"> <a href="free-analysis.html"
                            class="btn btn-default">Login</a> </div>
                    <div id="headerNav" class="navbar-collapse collapse float--right">
                        <ul class="header--nav-links nav navbar-right">
                            <li class="active"><a href="index.html">Home</a></li>
                            <li><a href="seo.html">Free SEO Tools</a></li>
                            <li><a href="learn.html">Learn SEO</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="about.html">Why Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="banner--section bg--color-theme">
            <div class="banner--slider owl-carousel pd--100-0-70" data-owl-dots="true">
                <div class="banner--item">
                    <div class="container">
                        <div class="row row--vc">
                            <div class="col-md-6">
                                <div class="banner--content">
                                    <div class="title">
                                        <h1 class="h1">Higher rankings. Quality traffic. Measurable results.</h1>
                                    </div>
                                    <div class="desc">
                                        <p>Power your digital marketing strategies with crawic SEO software, tools, APIs, and bespoke data solutions.
                                        </p>
                                    </div>
                                    <div class="button"> <a href="#" class="btn btn-default active">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-xxs-12">
                                <div class="banner--img"> <img src="img/banner-img/slider-img-01.png" alt=""> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner--item">
                    <div class="container">
                        <div class="row row--vc">
                            <div class="col-md-6 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-xxs-12">
                                <div class="banner--img"> <img src="img/banner-img/slider-img-02.png" alt=""> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="banner--content">
                                    <div class="title">
                                        <h1 class="h1">Rank On Top &amp; Stay On Top With SEO Crack</h1>
                                    </div>
                                    <div class="desc">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised sage of Lorem Ipsum, you need to be sure there isn't anything.
                                        </p>
                                    </div>
                                    <div class="button"> <a href="#" class="btn btn-default active">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner--item">
                    <div class="container">
                        <div class="row row--vc">
                            <div class="col-md-6">
                                <div class="banner--content">
                                    <div class="title">
                                        <h1 class="h1">Rank On Top &amp; Stay On Top With SEO Crack</h1>
                                    </div>
                                    <div class="desc">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised sage of Lorem Ipsum, you need to be sure there isn't anything.
                                        </p>
                                    </div>
                                    <div class="button"> <a href="#" class="btn btn-default active">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-xxs-12">
                                <div class="banner--img"> <img src="img/banner-img/slider-img-03.png" alt=""> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="checker--section">
            <div class="container">
                <div class="checker--form">
                    <div class="title">
                        <h2 class="h2">Check Your Website SEO Score !</h2>
                    </div>
                    <form action="#" method="post" data-form="validate">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"> <input type="text" name="website" class="form-control"
                                        placeholder="Enter Your Website" required> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group"> <input type="email" name="email" class="form-control"
                                        placeholder="Enter Your E-mail Address" required>
                                    <div class="input-group-btn"> <button type="submit" class="btn btn-default">Check
                                            Now</button> </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="features--section pd--100-0-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-6 col-xxs-12">
                        <div class="feature--item">
                            <div class="icon"> <img src="img/features-img/icon-01.png" alt=""> </div>
                            <div class="title">
                                <h2 class="h4">Best Support</h2>
                            </div>
                            <div class="flipped">
                                <div class="title">
                                    <p class="h4">Best Support</p>
                                </div>
                                <div class="content">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-xxs-12">
                        <div class="feature--item">
                            <div class="icon"> <img src="img/features-img/icon-02.png" alt=""> </div>
                            <div class="title">
                                <h2 class="h4">Classic Service</h2>
                            </div>
                            <div class="flipped">
                                <div class="title">
                                    <p class="h4">Classic Service</p>
                                </div>
                                <div class="content">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-xxs-12">
                        <div class="feature--item active">
                            <div class="icon"> <img src="img/features-img/icon-03.png" alt=""> </div>
                            <div class="title">
                                <h2 class="h4">Best Target</h2>
                            </div>
                            <div class="flipped">
                                <div class="title">
                                    <p class="h4">Best Target</p>
                                </div>
                                <div class="content">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-xxs-12">
                        <div class="feature--item">
                            <div class="icon"> <img src="img/features-img/icon-04.png" alt=""> </div>
                            <div class="title">
                                <h2 class="h4">Value Of Money</h2>
                            </div>
                            <div class="flipped">
                                <div class="title">
                                    <p class="h4">Value Of Money</p>
                                </div>
                                <div class="content">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="intro--section pd--100-0-40 bg--color-lightgray">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 pbottom--60">
                        <div class="intro--content">
                            <div class="section--title section--title-left">
                                <h2 class="h2">We Offer a Full Range of Digital Marketing Services</h2>
                            </div>
                            <div class="content">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form, by injected humour, or randomised words which
                                    don't look even slightly believable. If you are going to use a passage of Lorem
                                    Ipsum, you need to be sure there isn't anything.</p>
                            </div>
                            <div class="list">
                                <ul class="nav">
                                    <li>SEO basics: How to use social media</li>
                                    <li>Social buttons: How to add and track them on your site</li>
                                    <li>Contact page examples: What makes a great contact page?</li>
                                    <li>SEO basics: How to optimize a blog post?</li>
                                </ul>
                            </div>
                            <div class="buttons"> <a href="#" class="btn btn-default">Learn More</a> <a href="#"
                                    class="btn btn-default active">Get a Quote</a> </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-0 col-xs-8 col-xs-offset-2 col-xxs-12 pbottom--60">
                        <div class="intro--video">
                            <div class="inner"> <a href="https://www.youtube.com/watch?v=2GqExKSwTEA"
                                    data-popup="video"> <img src="img/intro-img/video-poster.jpg" alt=""
                                        class="img-circle"> <i class="fa fa-play"></i> </a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="services--section pd--100-0">
            <div class="container">
                <div class="section--title">
                    <h2 class="h2">Services We Offer</h2>
                </div>
                <div class="row AdjustRow">
                    <div class="col-md-4 col-xs-6 col-xxs-12">
                        <div class="service--item">
                            <div class="header">
                                <div class="icon"> <img src="img/services-img/icon-01.png" alt=""> </div>
                                <div class="title">
                                    <h3 class="h4"><a href="Keyword-Research.html">Keyword Research</a></h3>
                                </div>
                            </div>
                            <div class="body">
                                <p>Discover thousands of keywords to target along with Keyword Difficulty scores, accurate search volumes, and SERP analysis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6 col-xxs-12">
                        <div class="service--item">
                            <div class="header">
                                <div class="icon"> <img src="img/services-img/icon-02.png" alt=""> </div>
                                <div class="title">
                                    <h3 class="h4"><a href="Competitive-Research.html">Competitive Research</a></h3>
                                </div>
                            </div>
                            <div class="body">
                                <p>Identify competitors, keyword gaps, and link opportunities to improve organic share of voice and surpass your competitors.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6 col-xxs-12">
                        <div class="service--item">
                            <div class="header">
                                <div class="icon"> <img src="img/services-img/icon-03.png" alt=""> </div>
                                <div class="title">
                                    <h3 class="h4"><a href="Link-Research.html">Link Research</a></h3>
                                </div>
                            </div>
                            <div class="body">
                                <p>Get insight into any website’s authority and link profile in seconds, including linking domains, most valuable pages, anchor text, and Domain Authority.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6 col-xxs-12">
                        <div class="service--item">
                            <div class="header">
                                <div class="icon"> <img src="img/services-img/icon-04.png" alt=""> </div>
                                <div class="title">
                                    <h3 class="h4"><a href="Rank-Tracking.html">Rank Tracking</a></h3>
                                </div>
                            </div>
                            <div class="body">
                                <p>Track the performance of hundreds (or thousands) of keywords across 170+ search engines.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6 col-xxs-12">
                        <div class="service--item">
                            <div class="header">
                                <div class="icon"> <img src="img/services-img/icon-05.png" alt=""> </div>
                                <div class="title">
                                    <h3 class="h4"><a href="Domain-Overview.html">Domain Overview</a></h3>
                                </div>
                            </div>
                            <div class="body">
                                <p>Get a quick SEO snapshot dashboard for any domain. Gain measurable insight with metrics like Brand Authority and Domain Authority, along with ranking keywords and top backlinks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6 col-xxs-12">
                        <div class="service--item">
                            <div class="header">
                                <div class="icon"> <img src="img/services-img/icon-06.png" alt=""> </div>
                                <div class="title">
                                    <h3 class="h4"><a href="Site-Crawl.html">Site Crawl</a></h3>
                                </div>
                            </div>
                            <div class="body">
                                <p>Audit your site to find and diagnose technical SEO issues that may hurt your organic search rankings. Make sure your site is optimized with actionable recommendations.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section--footer text-center"> <a href="services.html" class="btn btn-default">View All
                        Services</a> </div>
            </div>
        </div>
        <div class="intro--section pd--100-0-40 bg--color-lightgray">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 pbottom--60">
                        <div class="intro--content">
                            <div class="section--title section--title-left">
                                <h2 class="h2">STAT: the ultimate large-scale rank tracking platform</h2>
                            </div>
                            <div class="content">
                                <p>Whether you’re juggling multiple sites, millions of pages, or just a ton of keywords, STAT helps you unlock new opportunities, drive more revenue, and prove the value of your SEO efforts.</p>
                            </div>
                            <div class="list">
                                <ul class="nav">
                                    <li>Daily analytics at scale</li>
                                    <li>Market visibility</li>
                                    <li>SERP feature insights</li>
                                    <li>Customizable segments</li>
                                    <li>Flexible reporting</li>
                                </ul>
                            </div>
                            <div class="buttons"> <a href="Stats.html" class="btn btn-default">Explore Stats</a></div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-0 col-xs-8 col-xs-offset-2 col-xxs-12 pbottom--60">
                        <div class="intro--video">
                            <div class="inner"> <img src="https://moz.com/images/assets/features/moz-tools_stat.png?w=1024&auto=compress%2Cformat&fit=crop&dm=1704758488&s=fa43e0615571f3fe0d392dd123e729ef" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro--section pd--100-0-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-md-offset-0 col-xs-8 col-xs-offset-2 col-xxs-12 pbottom--60">
                        <div class="intro--video">
                            <div class="inner"> <img src="img/moz/in1.png" alt=""></div>
                        </div>
                    </div>
                    <div class="col-md-7 pbottom--60">
                        <div class="intro--content">
                            <div class="section--title section--title-left">
                                <h2 class="h2">crawic Local: the local SEO and reputation management tool</h2>
                            </div>
                            <div class="content">
                                <p>Whether you have one location or 10,000, manage business listings and reviews, report on performance and sentiment, and post to social media all from one easy to use platform.</p>
                            </div>
                            <div class="list">
                                <ul class="nav">
                                    <li>Business listings management</li>
                                    <li>Review management</li>
                                    <li>Easily share news and offers</li>
                                    <li>Monitor and report on performance</li>
                                </ul>
                            </div>
                            <div class="buttons"> <a href="Moz-Local.html" class="btn btn-default">Explore crawic Local</a></div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="intro--section pd--100-0-40 bg--color-lightgray">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 pbottom--60">
                        <div class="intro--content">
                            <div class="section--title section--title-left">
                                <h2 class="h2">crawic API: powering custom data solutions</h2>
                            </div>
                            <div class="content">
                                <p>Whether you’re juggling multiple sites, millions of pages, or just a ton of keywords, STAT helps you unlock new opportunities, drive more revenue, and prove the value of your SEO efforts.</p>
                            </div>
                            <div class="list">
                                <ul class="nav">
                                    <li>Daily analytics at scale</li>
                                    <li>Market visibility</li>
                                    <li>SERP feature insights</li>
                                    <li>Customizable segments</li>
                                    <li>Flexible reporting</li>
                                </ul>
                            </div>
                            <div class="buttons"> <a href="Moz-API.html" class="btn btn-default">Explore crawic API</a></div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-0 col-xs-8 col-xs-offset-2 col-xxs-12 pbottom--60">
                        <div class="intro--video">
                            <div class="inner"> <img src="img/moz/in2.webp" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="pricing--section pd--100-0-40 bg--overlay-95" data-bg-img="img/pricing-img/bg.jpg">
            <div class="container">
                <div class="section--title">
                    <h2 class="h2">Pricing Plan</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 col-xxs-12">
                        <div class="pricing--item">
                            <div class="title">
                                <h3 class="h3">Standard Plan</h3>
                                <h4 class="h4">($29.99/Month)</h4>
                            </div>
                            <div class="icon"> <img src="img/pricing-img/icon-01.png" alt=""> </div>
                            <div class="features">
                                <ul class="nav">
                                    <li>Number of keyphrases optimized<br><span>(Up to 80)</span></li>
                                    <li><i class="fa fa-check"></i>Web server and on-page analysis &amp; reporting them
                                        on your site</li>
                                    <li><i class="fa fa-check"></i>Meta tags <span>(Title &amp; description)</span>
                                        Website conversion analysis implement <span>(Custom)</span></li>
                                </ul>
                            </div>
                            <div class="action"> <a href="#" class="btn btn-default">Start Today</a> </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 col-xxs-12">
                        <div class="pricing--item active">
                            <div class="title">
                                <h3 class="h3">Enterprise Plan</h3>
                                <h4 class="h4">($49.99/Month)</h4>
                            </div>
                            <div class="icon"> <img src="img/pricing-img/icon-02.png" alt=""> </div>
                            <div class="features">
                                <ul class="nav">
                                    <li>Number of keyphrases optimized<br><span>(Up to 150)</span></li>
                                    <li><i class="fa fa-check"></i>Web server and on-page analysis &amp; reporting them
                                        on your site</li>
                                    <li><i class="fa fa-check"></i>Meta tags <span>(Title &amp; description)</span>
                                        Website conversion analysis implement <span>(Custom)</span></li>
                                </ul>
                            </div>
                            <div class="action"> <a href="#" class="btn btn-default">Start Today</a> </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 col-xxs-12">
                        <div class="pricing--item">
                            <div class="title">
                                <h3 class="h3">Ecommerce Plan</h3>
                                <h4 class="h4">($99.99/Month)</h4>
                            </div>
                            <div class="icon"> <img src="img/pricing-img/icon-03.png" alt=""> </div>
                            <div class="features">
                                <ul class="nav">
                                    <li>Number of keyphrases optimized<br><span>(Up to 300)</span></li>
                                    <li><i class="fa fa-check"></i>Web server and on-page analysis &amp; reporting them
                                        on your site</li>
                                    <li><i class="fa fa-check"></i>Meta tags <span>(Title &amp; description)</span>
                                        Website conversion analysis implement <span>(Custom)</span></li>
                                </ul>
                            </div>
                            <div class="action"> <a href="#" class="btn btn-default">Start Today</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        
        <div class="faq--section pd--100-0-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 pbottom--60">
                        <div class="faq--content">
                            <div class="section--title section--title-left">
                                <h2 class="h2">Let Us Help You Grow Your Business Through The Web.</h2>
                            </div>
                            <div class="sub-title">
                                <p>Fill in the form right side and we'll contact you shortly.</p>
                            </div>
                            <div class="body">
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is that
                                    it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                    here, content here', making it look like readable English. Many desktop publishing
                                    packages and web page editors now many web sites still in their infancy.</p>
                                <p>Lorem Ipsum a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is that
                                    it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                    here, content here', making it look like readable English. Many desktop publishing
                                    packages and web page editors now many web sites still in their infancy.</p>
                            </div>
                            <div class="action"> <a href="#" class="btn btn-default">Learn More</a> </div>
                        </div>
                    </div>
                    <div class="col-md-6 pbottom--60">
                        <div class="faq--form">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="title">
                                        <h2 class="h4">Fill the form below and we'll contact you shortly.</h2>
                                    </div>
                                </div>
                            </div>
                            <form action="https://themelooks.us/demo/seocrack/html/preview/forms/faq-form.php"
                                data-form="ajax">
                                <div class="status"></div>
                                <div class="row">
                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group"> <label> <span>Website</span> <input type="text"
                                                    name="website" class="form-control" required> </label> </div>
                                    </div>
                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group"> <label> <span>Name</span> <input type="text"
                                                    name="name" class="form-control" required> </label> </div>
                                    </div>
                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group"> <label> <span>E-mail</span> <input type="email"
                                                    name="email" class="form-control" required> </label> </div>
                                    </div>
                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group"> <label> <span>Phone</span> <input type="text"
                                                    name="phone" class="form-control" required> </label> </div>
                                    </div>
                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group"> <label> <span>Company</span> <input type="text"
                                                    name="company" class="form-control" required> </label> </div>
                                    </div>
                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group"> <label> <span>Budget For This Project</span> <input
                                                    type="text" name="budget" class="form-control" required> </label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group"> <label> <span>Put Your Ideas (Optional)</span>
                                                <textarea name="message" class="form-control"></textarea> </label>
                                        </div>
                                    </div>
                                    <div class="col-md-12"> <button type="submit" class="btn btn-block btn-default">Hear
                                            From An Expert</button> </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial--section pd--100-0 bg--overlay-50" data-bg-img="img/testimonial-img/bg.jpg">
            <div class="container">
                <div class="section--title">
                    <h2 class="h2">Reviews &amp; Our Trusted Clients</h2>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="testimonial--feedbacks">
                            <div class="testimonial--clients owl-carousel" data-owl-items="3" data-owl-margin="60"
                                data-increment="1" data-owl-responsive='{"0":{"margin": 30}, "481":{"margin": 60}}'>
                                <div class="item" data-target="#testimonialInfoTab01"> <img
                                        src="img/testimonial-img/client-01.jpg" alt=""> </div>
                                <div class="item" data-target="#testimonialInfoTab02"> <img
                                        src="img/testimonial-img/client-02.jpg" alt=""> </div>
                                <div class="item" data-target="#testimonialInfoTab03"> <img
                                        src="img/testimonial-img/client-03.jpg" alt=""> </div>
                            </div>
                            <div class="testimonial--info">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="testimonialInfoTab01">
                                        <div class="item">
                                            <div class="header">
                                                <div class="title">
                                                    <h3 class="h4">Daniel Duncan</h3>
                                                </div>
                                                <div class="sub-title">
                                                    <p>Developer, Australia</p>
                                                </div>
                                            </div>
                                            <div class="body">
                                                <blockquote>
                                                    <p>The point of using Lorem Ipsum is that it has a more-or-less
                                                        normal distribution of letters, as opposed to using 'Content
                                                        here, content here', making it look like readable English. Many
                                                        desktop publishing packages and web page There are many
                                                        variations of passages of Lorem Ipsum available, but the
                                                        majority have suffered alteration.</p>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="testimonialInfoTab02">
                                        <div class="item">
                                            <div class="header">
                                                <div class="title">
                                                    <h3 class="h4">Era Elizabeth</h3>
                                                </div>
                                                <div class="sub-title">
                                                    <p>Developer, Australia</p>
                                                </div>
                                            </div>
                                            <div class="body">
                                                <blockquote>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                        Laudantium rerum, dolores explicabo quas consequatur ex aliquid,
                                                        eligendi ea ipsum, cumque ab quo excepturi quaerat sit eum neque
                                                        alias cupiditate. Magnam sint ducimus, distinctio natus
                                                        molestiae tempora debitis cumque animi obcaecati nam quo atque
                                                        quam perspiciatis.</p>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="testimonialInfoTab03">
                                        <div class="item">
                                            <div class="header">
                                                <div class="title">
                                                    <h3 class="h4">Randy Munoz</h3>
                                                </div>
                                                <div class="sub-title">
                                                    <p>Developer, Australia</p>
                                                </div>
                                            </div>
                                            <div class="body">
                                                <blockquote>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                        Nesciunt dignissimos, asperiores aspernatur, cupiditate aliquam
                                                        nisi perspiciatis totam quam beatae fugiat voluptate, magnam
                                                        nihil officiis excepturi optio est nostrum, tenetur quo.
                                                        Obcaecati ex, officiis numquam nisi animi quibusdam consequuntur
                                                        esse magnam. Ut quo aliquid voluptas.</p>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section--footer text-center mtop--40"> <a href="#" class="btn btn-default">Become a Happy
                        Client</a> </div>
            </div>
        </div>
        <div class="subscribe--section pd--100-0">
            <div class="container">
                <div class="section--title">
                    <h2 class="h2">Subscribe To Our Newsletter</h2>
                </div>
                <div class="subscribe--form">
                    <p>We will never spam you, or sell your email to third parties.</p>
                    <p>By clicking "Subcribe Now" you accept our Terms of Use and Privacy Policy.</p>
                    <form
                        action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&amp;id=f4e0e93d1d"
                        method="post" name="mc-embedded-subscribe-form" target="_blank" data-form="mailchimpAjax">
                        <div class="form-group"> <input type="email" name="EMAIL"
                                placeholder="Enter Your E-mail Address" class="form-control" autocomplete="off"
                                required> </div>
                        <p class="status"></p><button type="submit" class="btn btn-default">Subscribe Now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer--section">
            <div class="footer--widgets">
                <div class="container">
                    <div class="row AdjustRow">
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--logo"> <img src="img/footer-img/logo.png" alt=""> </div>
                                <div class="about--widget">
                                    <div class="content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    </div>
                                    <div class="action"> <a href="#">Read More<i
                                                class="fa fa-angle-double-right"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Usefull Links</h2>
                                </div>
                                <div class="links--widget">
                                    <ul class="nav">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="blog.html">Blogs &amp; Reviews</a></li>
                                        <li><a href="term.html">Term & Condition</a></li>
                                        <li><a href="Privacy">Privacy Policy</a></li>
                                        <li><a href="Support">Support Forum</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Recent Blog or Latest News</h2>
                                </div>
                                <div class="recent-posts--widget">
                                    <ul class="nav">
                                        <li>
                                            <div class="title"> <a href="blog-details.html">There are many variations of
                                                    passages of Lorem Ipsum available, but the major.</a> </div>
                                            <div class="date"> <a href="#" class="active">19 January 2017</a> </div>
                                        </li>
                                        <li>
                                            <div class="title"> <a href="blog-details.html">There are many variations of
                                                    passages of Lorem Ipsum available, but the major.</a> </div>
                                            <div class="date"> <a href="#" class="active">10 January 2017</a> </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Contact Information</h2>
                                </div>
                                <div class="contact--widget">
                                    <div class="content">
                                        <p>You can contact or visit us during working time, our contact info is below
                                        </p>
                                    </div>
                                    <ul class="info nav">
                                        <li><span>Tel :</span><a href="tel:+01234567894321">+0123 456 789 4321</a></li>
                                        <li><span>E-mail :</span><a
                                                href="mailto:example@example.com">example@example.com</a></li>
                                        <li><span>Address :</span>148 - Mirpur, Dhaka, Bangladesh</li>
                                        <li><span>Working Hour :</span>Mon - Sat 09 am - 10 pm</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer--copyright">
                <div class="container">
                    <p class="float--left">Copyright &copy; by <a href="#">Company</a> 2024. All Rights Reserved.</p>
                    <ul class="social nav float--right">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="back-to-top-btn"> <a href="#" class="active"><i class="fa fa-chevron-up"></i></a> </div>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/fakeLoader.min.js"></script>
    <script src="js/jquery.sticky.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.barrating.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>