<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Company Name</title>
    <meta name="author" content="Company Name">
    <meta name="description" content="Company Name">
    <meta name="keywords"
        content="Company Name">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700%7CRoboto:300,400,500,700" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fakeLoader.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/fontawesome-stars-o.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="css/responsive-style.css" rel="stylesheet">
    <link href="css/colors/color-1.css" rel="stylesheet" id="changeColorScheme">
    <link href="css/custom.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="header--section">
            <div class="header--topbar">
                <div class="container">
                    <ul class="nav social float--left">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                    <ul class="nav cart float--right">
                        <li><a href="cart.html"><i class="fa fm fa-shopping-basket"></i>(<span>3</span>)</a></li>
                    </ul>
                    <ul class="nav register float--right">
                        <li> <a href="#"><i class="fa fm fa-key"></i>Signup</a></li>
                    </ul>
                </div>
            </div>
            <nav class="header--navbar navbar" data-trigger="sticky">
                <div class="container">
                    <div class="navbar-header">
                        <div class="header--btn float--right hidden-md hidden-lg hidden-xxs"> <a
                                href="free-analysis.html" class="btn btn-default">Login</a> </div><button
                            type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#headerNav" aria-expanded="false" aria-controls="headerNav"> <span
                                class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span> <span
                                class="icon-bar"></span> <span class="icon-bar"></span> </button> <a href="index.html"
                            class="navbar-brand"> <img src="img/logo.png" alt="SEOCrack Logo"> </a>
                    </div>
                    <div class="header--btn float--right hidden-sm hidden-xs"> <a href="free-analysis.html"
                            class="btn btn-default">Login</a> </div>
                    <div id="headerNav" class="navbar-collapse collapse float--right">
                        <ul class="header--nav-links nav navbar-right">
                            <li class="active"><a href="index-2.html">Home</a></li>
                            <li><a href="products.html">Products</a></li>
                            <li><a href="seo.html">Free SEO Tools</a></li>
                            <li><a href="learn.html">Learn SEO</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="about.html">Why Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="page-header--section bg--color-theme pd--80-0">
            <div class="container">
                
                <div class="title">
                    <h1 class="h1">On Demand Webinars</h1>
                    <h4>The All-in-one SEO toolkit</h4>
                    <p>Rank higher, convert more traffic, and drive measurable results.</p>
                    <button class="btn btn-default">Start my free trial</button>
                </div>
            </div>
        </div>
        <div class="container pd--80-0">
            <h3 class="text-center">From helping you target the right keywords to creating custom reports, Moz Pro removes SEO complexity.</h3>
        </div>
        <div class="about--section pd--100-0-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 pbottom--60">
                        <div class="about--content">
                            <div class="section--title section--title-left">
                                <h2 class="h2">Understand your visitors</h2>
                            </div>
                            <div class="body">
                                <p>How are people searching for your products/services? Knowing which keywords are being used and what questions are being asked can help you create high quality content.</p>
                               <ul class="pbottom--60">
                                <li>
                                    Strategically target keywords with accurate keyword volume and difficulty metrics.
                                </li>
                                <li>
                                    Save keyword lists that you can track and update as needed.
                                </li>
                                
                               </ul>
                               <button class="btn btn-default">Try Keyword Explore</button>
                               <a href=""><h4>Or learn more about keyword research with Moz </h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pbottom--60">
                        <div class="about--img"> <img src="img/moz/1.svg" alt=""> </div>
                    </div>
                </div>
               
            </div>
        </div>
       
        <div class="intro--section pd--100-0-40 bg--color-lightgray">
            <div class="container">
                <div class="row" style="align-items: center;justify-content: center;">
                    <div class="col-md-6 pbottom--60">
                        <div class="about--img"> <img src="img/moz/2.svg" alt=""> </div>
                    </div>
                    <div class="col-md-6 pbottom--60">
                        <div class="about--content">
                            <div class="section--title section--title-left">
                                <h2 class="h2">Track your rankings</h2>
                            </div>
                            <div class="body">
                                <p>To know what's working, you need to accurately track how you're ranking for keywords. With Moz Pro, you can track your competition as well.</p>
                               <ul class="pbottom--60">
                                <li>
                                    Know what searchers everywhere see by tracking local and national searches
                                </li>
                                <li>
                                    Get a holistic picture of how you rank for your keywords with our Search Visibility score
                                </li>
                                
                               </ul>
                               <a href=""><h4>Learn more about rank tracking</h4></a>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>

        <div class="about--section pd--100-0-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 pbottom--60">
                        <div class="about--content">
                            <div class="section--title section--title-left">
                                <h2 class="h2">Crawl and audit your sites</h2>
                            </div>
                            <div class="body">
                                <p>Harmful issues aren't always easy to spot. Our crawler digs through every corner of your site to find them and show you how to fix them.</p>
                               <ul class="pbottom--60">
                                <li>
                                    Enjoy peace of mind while Moz Pro hunts for issues that keep search engines from fully crawling your site
                                </li>
                                <li>
                                    Alerts ensure you're the first to know when site issues are found so you can fix them fast
                                </li>
                                
                               </ul>
                               <a href=""><h4>Learn more about Site Crawl</h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pbottom--60">
                        <div class="about--img"> <img src="img/moz/3.svg" alt=""> </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="intro--section pd--100-0-40 bg--color-lightgray">
            <div class="container">
                <div class="row" style="align-items: center;justify-content: center;">
                    <div class="col-md-6 pbottom--60">
                        <div class="about--img"> <img src="img/moz/4.svg" alt=""> </div>
                    </div>
                    <div class="col-md-6 pbottom--60">
                        <div class="about--content">
                            <div class="section--title section--title-left">
                                <h2 class="h2">Optimize your pages</h2>
                            </div>
                            <div class="body">
                                <p>
                                    Moz Pro will ensure you've got maximum potential to rank for your target keywords by auditing the content on your pages and recommending specific improvements.
                                </p>
                               <ul class="pbottom--60">
                                <li>
                                    Spend your time where it matters most with prioritized recommendations to improve page optimization
                                </li>
                                <li>
                                    Know what content to create next with custom suggestions based on other pages that rank for your keywords
                                </li>
                                
                               </ul>
                               <a href=""><h4>Learn about on-page optimization with Moz Pro</h4></a>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>

        <div class="about--section pd--100-0-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 pbottom--60">
                        <div class="about--content">
                            <div class="section--title section--title-left">
                                <h2 class="h2">Find link opportunities</h2>
                            </div>
                            <div class="body">
                                <p>
                                    Links are a critical element of effective SEO. Moz Pro will help you find new ones and maximize the effect of those you already have.
                                </p>
                               <ul class="pbottom--60">
                                <li>
                                    Gain confidence in links with proprietary metrics like Page Authority, Domain Authority, and Spam Score
                                </li>
                                <li>
                                    Ensure your competition isn't gaining an edge by learning where they are getting links
                                </li>
                                
                               </ul>
                               <button class="btn btn-default">Try Link Explore</button>
                               <a href=""><h4>Or learn about link research with Moz Pro </h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pbottom--60">
                        <div class="about--img"> <img src="img/moz/6.svg" alt=""> </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="intro--section pd--100-0-40 bg--color-lightgray">
            <div class="container">
                <div class="row" style="align-items: center;justify-content: center;">
                    <div class="col-md-6 pbottom--60">
                        <div class="about--img"> <img src="img/moz/7.svg" alt=""> </div>
                    </div>
                    <div class="col-md-6 pbottom--60">
                        <div class="about--content">
                            <div class="section--title section--title-left">
                                <h2 class="h2">Create custom reports</h2>
                            </div>
                            <div class="body">
                                <p>
                                    Your work is immensely valuable. Moz Pro can help you prove it with ease.
                                </p>
                               <ul class="pbottom--60">
                                <li>
                                    Paint the most compelling picture by customizing PDF reports with drag-and-drop modules and annotations
                                </li>
                                <li>
                                    Save time by scheduling recurring reports sent directly to clients and stakeholders
                                </li>
                                
                               </ul>
                               <a href=""><h4>Learn about Moz's Custom Reports </h4></a>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>






        <div class="footer--section">
            <div class="footer--widgets">
                <div class="container">
                    <div class="row AdjustRow">
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--logo"> <img src="img/footer-img/logo.png" alt=""> </div>
                                <div class="about--widget">
                                    <div class="content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    </div>
                                    <div class="action"> <a href="#">Read More<i
                                                class="fa fa-angle-double-right"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Usefull Links</h2>
                                </div>
                                <div class="links--widget">
                                    <ul class="nav">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="blog.html">Blogs &amp; Reviews</a></li>
                                        <li><a href="term.html">Term & Condition</a></li>
                                        <li><a href="Privacy">Privacy Policy</a></li>
                                        <li><a href="Support">Support Forum</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Recent Blog or Latest News</h2>
                                </div>
                                <div class="recent-posts--widget">
                                    <ul class="nav">
                                        <li>
                                            <div class="title"> <a href="blog-details.html">There are many variations of
                                                    passages of Lorem Ipsum available, but the major.</a> </div>
                                            <div class="date"> <a href="#" class="active">19 January 2017</a> </div>
                                        </li>
                                        <li>
                                            <div class="title"> <a href="blog-details.html">There are many variations of
                                                    passages of Lorem Ipsum available, but the major.</a> </div>
                                            <div class="date"> <a href="#" class="active">10 January 2017</a> </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Contact Information</h2>
                                </div>
                                <div class="contact--widget">
                                    <div class="content">
                                        <p>You can contact or visit us during working time, our contact info is below
                                        </p>
                                    </div>
                                    <ul class="info nav">
                                        <li><span>Tel :</span><a href="tel:+01234567894321">+0123 456 789 4321</a></li>
                                        <li><span>E-mail :</span><a
                                                href="mailto:example@example.com">example@example.com</a></li>
                                        <li><span>Address :</span>148 - Mirpur, Dhaka, Bangladesh</li>
                                        <li><span>Working Hour :</span>Mon - Sat 09 am - 10 pm</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer--copyright">
                <div class="container">
                    <p class="float--left">Copyright &copy; by <a href="#">Company</a> 2024. All Rights Reserved.</p>
                    <ul class="social nav float--right">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="back-to-top-btn"> <a href="#" class="active"><i class="fa fa-chevron-up"></i></a> </div>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/fakeLoader.min.js"></script>
    <script src="js/jquery.sticky.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.barrating.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>