<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Company Name</title>
    <meta name="author" content="Company Name">
    <meta name="description" content="Company Name">
    <meta name="keywords"
        content="Company Name">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700%7CRoboto:300,400,500,700" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fakeLoader.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/fontawesome-stars-o.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="css/responsive-style.css" rel="stylesheet">
    <link href="css/colors/color-1.css" rel="stylesheet" id="changeColorScheme">
    <link href="css/custom.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="header--section">
            <div class="header--topbar">
                <div class="container">
                    <ul class="nav social float--left">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                    <ul class="nav cart float--right">
                        <li><a href="cart.html"><i class="fa fm fa-shopping-basket"></i>(<span>3</span>)</a></li>
                    </ul>
                    <ul class="nav register float--right">
                        <li> <a href="#"><i class="fa fm fa-key"></i>Signup</a></li>
                    </ul>
                </div>
            </div>
            <nav class="header--navbar navbar" data-trigger="sticky">
                <div class="container">
                    <div class="navbar-header">
                        <div class="header--btn float--right hidden-md hidden-lg hidden-xxs"> <a
                                href="free-analysis.html" class="btn btn-default">Login</a> </div><button
                            type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#headerNav" aria-expanded="false" aria-controls="headerNav"> <span
                                class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span> <span
                                class="icon-bar"></span> <span class="icon-bar"></span> </button> <a href="index.html"
                            class="navbar-brand"> <img src="img/logo.png" alt="SEOCrack Logo"> </a>
                    </div>
                    <div class="header--btn float--right hidden-sm hidden-xs"> <a href="free-analysis.html"
                            class="btn btn-default">Login</a> </div>
                    <div id="headerNav" class="navbar-collapse collapse float--right">
                        <ul class="header--nav-links nav navbar-right">
                            <li class="active"><a href="index-2.html">Home</a></li>
                            <li><a href="seo.html">Free SEO Tools</a></li>
                            <li><a href="learn.html">Learn SEO</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="about.html">Why Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="page-header--section bg--color-theme pd--80-0">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li class="active"><span>Service Details</span></li>
                </ul>
                <div class="title">
                    <h1 class="h1">Service Details</h1>
                </div>
            </div>
        </div>
        <div class="services--section pd--100-0-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 pbottom--60 float--right float--sm-none">
                        <div class="service--sidebar">
                            <div class="widget">
                                <div class="tab-nav--widget">
                                    <div class="section--title">
                                        <h2 class="h2">Service We Provided</h2>
                                    </div>
                                    <ul class="nav">
                                        <li class="active"><a href="#serviceDetailsTab01" data-toggle="tab">Search
                                                Engine Optimization</a></li>
                                        <li><a href="#serviceDetailsTab02" data-toggle="tab">Social Media Marketing</a>
                                        </li>
                                        <li><a href="#serviceDetailsTab03" data-toggle="tab">Pay-Per Click
                                                Advertising</a></li>
                                        <li><a href="#serviceDetailsTab04" data-toggle="tab">Website Development</a>
                                        </li>
                                        <li><a href="#serviceDetailsTab05" data-toggle="tab">Content Marketing</a></li>
                                        <li><a href="#serviceDetailsTab06" data-toggle="tab">Conversion Optimization</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 pbottom--60">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="serviceDetailsTab01">
                                <div class="service--details">
                                    <div class="img"> <img src="img/services-img/service-details-tab-01.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <h2 class="h2">Search Engine Optimization</h2>
                                    </div>
                                    <div class="content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <h3>Where does it come from?</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <div class="row">
                                            <div class="col-md-4 col-sm-6">
                                                <h3>Working Proedure</h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap.</p>
                                            </div>
                                            <div class="col-md-8 col-sm-6 mtop--30"> <img
                                                    src="img/services-img/service-details-02.jpg" alt=""> </div>
                                        </div>
                                        <h3>Success &amp; Be Happy</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="serviceDetailsTab02">
                                <div class="service--details">
                                    <div class="img"> <img src="img/services-img/service-details-tab-02.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <h2 class="h2">Social Media Marketing</h2>
                                    </div>
                                    <div class="content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <h3>Where does it come from?</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h3>Working Proedure</h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap.</p>
                                            </div>
                                            <div class="col-md-8 mtop--30"> <img
                                                    src="img/services-img/service-details-02.jpg" alt=""> </div>
                                        </div>
                                        <h3>Success &amp; Be Happy</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="serviceDetailsTab03">
                                <div class="service--details">
                                    <div class="img"> <img src="img/services-img/service-details-tab-03.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <h2 class="h2">Pay-Per Click Advertising</h2>
                                    </div>
                                    <div class="content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <h3>Where does it come from?</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h3>Working Proedure</h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap.</p>
                                            </div>
                                            <div class="col-md-8 mtop--30"> <img
                                                    src="img/services-img/service-details-02.jpg" alt=""> </div>
                                        </div>
                                        <h3>Success &amp; Be Happy</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="serviceDetailsTab04">
                                <div class="service--details">
                                    <div class="img"> <img src="img/services-img/service-details-tab-04.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <h2 class="h2">Website Development</h2>
                                    </div>
                                    <div class="content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <h3>Where does it come from?</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h3>Working Proedure</h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap.</p>
                                            </div>
                                            <div class="col-md-8 mtop--30"> <img
                                                    src="img/services-img/service-details-02.jpg" alt=""> </div>
                                        </div>
                                        <h3>Success &amp; Be Happy</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="serviceDetailsTab05">
                                <div class="service--details">
                                    <div class="img"> <img src="img/services-img/service-details-tab-05.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <h2 class="h2">Content Marketing</h2>
                                    </div>
                                    <div class="content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <h3>Where does it come from?</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h3>Working Proedure</h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap.</p>
                                            </div>
                                            <div class="col-md-8 mtop--30"> <img
                                                    src="img/services-img/service-details-02.jpg" alt=""> </div>
                                        </div>
                                        <h3>Success &amp; Be Happy</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="serviceDetailsTab06">
                                <div class="service--details">
                                    <div class="img"> <img src="img/services-img/service-details-tab-06.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <h2 class="h2">Conversion Optimization</h2>
                                    </div>
                                    <div class="content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <h3>Where does it come from?</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h3>Working Proedure</h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap.</p>
                                            </div>
                                            <div class="col-md-8 mtop--30"> <img
                                                    src="img/services-img/service-details-02.jpg" alt=""> </div>
                                        </div>
                                        <h3>Success &amp; Be Happy</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery--section pd--100-0" data-bg-img="img/gallery-img/bg.jpg">
            <div class="container-fluid">
                <div class="section--title">
                    <h2 class="h2">Recent Case Studies</h2>
                </div>
                <div class="gallery--slider owl-carousel" data-owl-items="6" data-owl-margin="15" data-owl-nav="true"
                    data-owl-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "4"}, "1200":{"items": "6"}}'>
                    <div class="gallery--item">
                        <div class="img"> <a href="img/gallery-img/case-study-01.jpg" data-popup="img"> <img
                                    src="img/gallery-img/case-study-01-thumb.jpg" alt=""> </a> </div>
                        <div class="info">
                            <div class="like">
                                <p><i class="fa fa-heart-o"></i> 1k+</p>
                            </div>
                            <div class="content">
                                <div class="title">
                                    <h3 class="h5"><a href="case-study-details.html">Project Title</a></h3>
                                </div>
                                <div class="sub-title">
                                    <p>SEO/Social/Development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery--item">
                        <div class="img"> <a href="img/gallery-img/case-study-02.jpg" data-popup="img"> <img
                                    src="img/gallery-img/case-study-02-thumb.jpg" alt=""> </a> </div>
                        <div class="info">
                            <div class="like">
                                <p><i class="fa fa-heart-o"></i> 1k+</p>
                            </div>
                            <div class="content">
                                <div class="title">
                                    <h3 class="h5"><a href="case-study-details.html">Project Title</a></h3>
                                </div>
                                <div class="sub-title">
                                    <p>SEO/Social/Development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery--item">
                        <div class="img"> <a href="img/gallery-img/case-study-03.jpg" data-popup="img"> <img
                                    src="img/gallery-img/case-study-03-thumb.jpg" alt=""> </a> </div>
                        <div class="info">
                            <div class="like">
                                <p><i class="fa fa-heart-o"></i> 1k+</p>
                            </div>
                            <div class="content">
                                <div class="title">
                                    <h3 class="h5"><a href="case-study-details.html">Project Title</a></h3>
                                </div>
                                <div class="sub-title">
                                    <p>SEO/Social/Development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery--item">
                        <div class="img"> <a href="img/gallery-img/case-study-04.jpg" data-popup="img"> <img
                                    src="img/gallery-img/case-study-04-thumb.jpg" alt=""> </a> </div>
                        <div class="info">
                            <div class="like">
                                <p><i class="fa fa-heart-o"></i> 1k+</p>
                            </div>
                            <div class="content">
                                <div class="title">
                                    <h3 class="h5"><a href="case-study-details.html">Project Title</a></h3>
                                </div>
                                <div class="sub-title">
                                    <p>SEO/Social/Development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery--item">
                        <div class="img"> <a href="img/gallery-img/case-study-05.jpg" data-popup="img"> <img
                                    src="img/gallery-img/case-study-05-thumb.jpg" alt=""> </a> </div>
                        <div class="info">
                            <div class="like">
                                <p><i class="fa fa-heart-o"></i> 1k+</p>
                            </div>
                            <div class="content">
                                <div class="title">
                                    <h3 class="h5"><a href="case-study-details.html">Project Title</a></h3>
                                </div>
                                <div class="sub-title">
                                    <p>SEO/Social/Development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery--item">
                        <div class="img"> <a href="img/gallery-img/case-study-06.jpg" data-popup="img"> <img
                                    src="img/gallery-img/case-study-06-thumb.jpg" alt=""> </a> </div>
                        <div class="info">
                            <div class="like">
                                <p><i class="fa fa-heart-o"></i> 1k+</p>
                            </div>
                            <div class="content">
                                <div class="title">
                                    <h3 class="h5"><a href="case-study-details.html">Project Title</a></h3>
                                </div>
                                <div class="sub-title">
                                    <p>SEO/Social/Development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery--item">
                        <div class="img"> <a href="img/gallery-img/case-study-07.jpg" data-popup="img"> <img
                                    src="img/gallery-img/case-study-07-thumb.jpg" alt=""> </a> </div>
                        <div class="info">
                            <div class="like">
                                <p><i class="fa fa-heart-o"></i> 1k+</p>
                            </div>
                            <div class="content">
                                <div class="title">
                                    <h3 class="h5"><a href="case-study-details.html">Project Title</a></h3>
                                </div>
                                <div class="sub-title">
                                    <p>SEO/Social/Development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section--footer text-center"> <a href="case-studies.html" class="btn btn-default">View All
                        Case Studies</a> </div>
            </div>
        </div>
        <div class="about--section pd--100-0-40">
            <div class="container">
                <div class="row row--vc">
                    <div class="col-md-6 pbottom--60">
                        <div class="about--skills">
                            <div class="section--title section--title-left">
                                <h2 class="h2">Our Skill</h2>
                            </div>
                            <div class="progress">
                                <h3 class="h4">Search Engine Optimization</h3>
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <h3 class="h4">Social Media Marketing</h3>
                                <div class="progress-bar" role="progressbar" aria-valuenow="92" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <h3 class="h4">Branding / Design</h3>
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <h3 class="h4">Web Design &amp; Development</h3>
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <h3 class="h4">Conversion Optimization</h3>
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pbottom--60">
                        <div class="faq--form">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="title">
                                        <h2 class="h4">Fill the form below and we'll contact you shortly.</h2>
                                    </div>
                                </div>
                            </div>
                            <form action="https://themelooks.us/demo/seocrack/html/preview/forms/faq-form.php"
                                data-form="ajax">
                                <div class="status"></div>
                                <div class="row">
                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group"> <label> <span>Website</span> <input type="text"
                                                    name="website" class="form-control" required> </label> </div>
                                    </div>
                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group"> <label> <span>Name</span> <input type="text"
                                                    name="name" class="form-control" required> </label> </div>
                                    </div>
                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group"> <label> <span>E-mail</span> <input type="email"
                                                    name="email" class="form-control" required> </label> </div>
                                    </div>
                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group"> <label> <span>Phone</span> <input type="text"
                                                    name="phone" class="form-control" required> </label> </div>
                                    </div>
                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group"> <label> <span>Company</span> <input type="text"
                                                    name="company" class="form-control" required> </label> </div>
                                    </div>
                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group"> <label> <span>Budget For This Project</span> <input
                                                    type="text" name="budget" class="form-control" required> </label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group"> <label> <span>Put Your Ideas (Optional)</span>
                                                <textarea name="message" class="form-control"></textarea> </label>
                                        </div>
                                    </div>
                                    <div class="col-md-12"> <button type="submit" class="btn btn-block btn-default">Hear
                                            From An Expert</button> </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer--section">
            <div class="footer--widgets">
                <div class="container">
                    <div class="row AdjustRow">
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--logo"> <img src="img/footer-img/logo.png" alt=""> </div>
                                <div class="about--widget">
                                    <div class="content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    </div>
                                    <div class="action"> <a href="#">Read More<i
                                                class="fa fa-angle-double-right"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Usefull Links</h2>
                                </div>
                                <div class="links--widget">
                                    <ul class="nav">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="blog.html">Blogs &amp; Reviews</a></li>
                                        <li><a href="term.html">Term & Condition</a></li>
                                        <li><a href="Privacy">Privacy Policy</a></li>
                                        <li><a href="Support">Support Forum</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Recent Blog or Latest News</h2>
                                </div>
                                <div class="recent-posts--widget">
                                    <ul class="nav">
                                        <li>
                                            <div class="title"> <a href="blog-details.html">There are many variations of
                                                    passages of Lorem Ipsum available, but the major.</a> </div>
                                            <div class="date"> <a href="#" class="active">19 January 2017</a> </div>
                                        </li>
                                        <li>
                                            <div class="title"> <a href="blog-details.html">There are many variations of
                                                    passages of Lorem Ipsum available, but the major.</a> </div>
                                            <div class="date"> <a href="#" class="active">10 January 2017</a> </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12">
                            <div class="widget">
                                <div class="widget--title">
                                    <h2 class="h4">Contact Information</h2>
                                </div>
                                <div class="contact--widget">
                                    <div class="content">
                                        <p>You can contact or visit us during working time, our contact info is below
                                        </p>
                                    </div>
                                    <ul class="info nav">
                                        <li><span>Tel :</span><a href="tel:+01234567894321">+0123 456 789 4321</a></li>
                                        <li><span>E-mail :</span><a
                                                href="mailto:example@example.com">example@example.com</a></li>
                                        <li><span>Address :</span>148 - Mirpur, Dhaka, Bangladesh</li>
                                        <li><span>Working Hour :</span>Mon - Sat 09 am - 10 pm</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer--copyright">
                <div class="container">
                    <p class="float--left">Copyright &copy; by <a href="#">Company</a> 2024. All Rights Reserved.</p>
                    <ul class="social nav float--right">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="back-to-top-btn"> <a href="#" class="active"><i class="fa fa-chevron-up"></i></a> </div>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/fakeLoader.min.js"></script>
    <script src="js/jquery.sticky.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.barrating.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>